<div class="heading">
  <h2>
      <span>Baytown Plastic Plant</span>
      <a><img src="../../../../assets/images/icons/ico_edit.svg" alt=""></a>
  </h2>
  <p class="button-right"><a class="btn btn-primary" >Add Camera</a></p>
</div>

<div class="main-content">
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a aria-controls="cameras" role="tab" data-toggle="tab">Cameras</a></li>
      <li role="presentation"><a aria-controls="permission" role="tab" data-toggle="tab">Manage Permissions</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>