.camera-events {
  margin-top: 20px;
  
  .block-search {
    margin-bottom: 20px;
    .form-search {
      position: relative;
      .icon-search {
        margin: 0;
        position: absolute;
        left: 8px;
        top: 7px;
      }
      input[type="text"] {
        padding-left: 30px;
        padding-right: 160px;
      }
      .advance-search {
        color: #0c479d;
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 8px;
        top: 8px;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .block-advance {
      display: none;
      padding: 20px 0 0 0;
      &.open {
        display: block;
      }
    }
  }
  .section-inner {
    margin: 20px 0 0 0;
  }
  .section h3 a:hover, .section h4 a:hover {
    text-decoration: none;
  }
  section {
    .section-inner {
      margin: 20px 0 0 0;
    }
  }
  .section {
    & + .section {
      margin-top: 30px;
    }
  }
  .table {
    &.table-light {
      thead {
        tr {
          th {
            color: #5a5a5a;
            padding: 10px;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            border: none !important;
            &:last-child {
              min-width: inherit;
            }
          }
        }
      }
      tbody {
        tr {
          border-top: 2px solid #f9f9f9;
          background: #fff;
          td {
            padding: 10px;
            color: #5a5a5a;
            font-size: 14px;
          }
        }
      }
    }
  }
  .actions {
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 100px;
    li {
      display: inline-block;
      vertical-align: middle;
      a {
        display: block;
        position: relative;
        img {
          vertical-align: top;
        }
        .img-over {
          position: absolute;
          left: 0;
          top: 0;
          visibility: hidden;
          opacity: 0;
          filter: alpha(opacity=0);
        }
        &:hover {
          img {
            visibility: hidden;
            opacity: 0;
            filter: alpha(opacity=0);
          }
          .img-over {
            visibility: visible;
            opacity: 1;
            filter: alpha(opacity=100);
          }
        }
      }
      & + li {
        margin-left: 20px;
      }
    }
  }
  
  @media screen and (max-width:767px){
    .table-responsive{
      border-color:#eff4fa;
      border:none
    }
  }
}