.heading{
  margin:0 0 40px 0;
  font-family: 'Roboto',sans-serif;
}
.nav-tabs{
  border-color:#d8d8d8;
  border-bottom: 1px solid #ddd;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
  outline: none;
  -webkit-appearance: none;
  font-family: 'Roboto',sans-serif;
  display: flex;
  padding-bottom: 9px;
}
.nav-tabs::before, .nav-tabs::after {
  display: table;
  content: " ";
}
.nav-tabs li a{
  background:none;
  border:none;
  padding:0 0 10px 0;
  color:#5a5a5a;
  font-size:16px;
  position:relative;
  text-decoration: none;
  cursor: pointer;
}
.nav-tabs li a:hover{
  color:#0c479d
}
.nav-tabs li a:hover:before{
  background:#0c479d;
  content:"";
  position:absolute;
  left:0;
  bottom:0;
  height:2px;
  width:100%
}
.nav-tabs li.active a{
  color:#0c479d;
  font-weight:500
}
.nav-tabs li.active a:before{
  background:#0c479d;
  content:"";
  position:absolute;
  left:0;
  bottom:0;
  height:2px;
  width:100%
}
.nav-tabs li+li{
  padding:0 0 0 40px
}
@media screen and (max-width:1023px){
  .heading{
    margin-bottom:30px
  }
  .nav-tabs{
    flex-direction: column;
    padding-bottom: 0;
    li {
      a {
        display: block;
      }
      padding: 0;
      display: none;
      &.active {
        display: block;
      }
    }
    li+li{
      display: none;
      a {
        display: block;
      }
      padding:9px 0 0 0;
      &.active {
        display: block;
        padding: 0;
      }
    }
    &.show-nav-tabs {
      li+li{
        display: block;
        padding:9px 0 0 0;
      }
      li {
        display: block;
      }
    }
  }
}