<div class="heading">
  <h2><span>Dashboard</span></h2>
</div><!-- heading -->

<div class="main-content">
  <div class="section">
      <h4>Notification <a >Open notification center</a></h4>
      <div class="section-inner">
          <div class="row col-list">
              <div class="col-xs-6 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="info">
                          <p class="ttl-info">Aggolomerated</p>
                          <div class="description">
                              <p>2019-08-27 | 12:56:54 PM</p>
                              <p>12875 scenic Hwy, Baton Rouge, LA Camera 1</p>
                          </div>
                      </div><!-- info -->

                      <p class="button-bot"><a  class="btn btn-primary-light">Open image</a></p>
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="info">
                          <p class="ttl-info">Aggolomerated</p>
                          <div class="description">
                              <p>2019-08-27 | 12:56:54 PM</p>
                              <p>12875 scenic Hwy, Baton Rouge, LA Camera 1</p>
                          </div>
                      </div><!-- info -->

                      <p class="button-bot"><a  class="btn btn-primary-light">Open image</a></p>
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="info">
                          <p class="ttl-info">Aggolomerated</p>
                          <div class="description">
                              <p>2019-08-27 | 12:56:54 PM</p>
                              <p>12875 scenic Hwy, Baton Rouge, LA Camera 1</p>
                          </div>
                      </div><!-- info -->

                      <p class="button-bot"><a  class="btn btn-primary-light">Open image</a></p>
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="info">
                          <p class="ttl-info">Aggolomerated</p>
                          <div class="description">
                              <p>2019-08-27 | 12:56:54 PM</p>
                              <p>12875 scenic Hwy, Baton Rouge, LA Camera 1</p>
                          </div>
                      </div><!-- info -->

                      <p class="button-bot"><a  class="btn btn-primary-light">Open image</a></p>
                  </div><!-- col-inner -->
              </div><!-- col-item -->
          </div><!-- col-list -->
      </div><!-- section-inner -->
  </div><!-- section -->

  <div class="section">
      <h4>Favorite Cameras <a >View all cameras</a></h4>
      <div class="section-inner">
          <div class="row col-list">
              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="img">
                          <p><img src="../../../assets/images/img01.jpg" alt=""></p>
                      </div><!-- img -->
                      <div class="info">
                          <p class="ttl-info">
                              <span>Aggolomerated</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>12875 scenic Hwy, Baton Rouge, LA</p>
                          </div>
                      </div><!-- info -->

                      <div class="button-list-bot">
                          <ul class="clearfix">
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_view.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_view_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_edit.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_edit_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_notification.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_notification_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_trash.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_trash_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </div><!-- button-list-bot -->
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="img">
                          <p><img src="../../../assets/images/img02.jpg" alt=""></p>
                      </div><!-- img -->
                      <div class="info">
                          <p class="ttl-info">
                              <span>Aggolomerated</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>12875 scenic Hwy, Baton Rouge, LA</p>
                          </div>
                      </div><!-- info -->

                      <div class="button-list-bot">
                          <ul class="clearfix">
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_view.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_view_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_edit.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_edit_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_notification.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_notification_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_trash.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_trash_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </div><!-- button-list-bot -->
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="img">
                          <p><img src="../../../assets/images/img01.jpg" alt=""></p>
                      </div><!-- img -->
                      <div class="info">
                          <p class="ttl-info">
                              <span>Aggolomerated</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>12875 scenic Hwy, Baton Rouge, LA</p>
                          </div>
                      </div><!-- info -->

                      <div class="button-list-bot">
                          <ul class="clearfix">
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_view.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_view_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_edit.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_edit_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_notification.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_notification_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_trash.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_trash_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </div><!-- button-list-bot -->
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="img">
                          <p><img src="../../../assets/images/img02.jpg" alt=""></p>
                      </div><!-- img -->
                      <div class="info">
                          <p class="ttl-info">
                              <span>Aggolomerated</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>12875 scenic Hwy, Baton Rouge, LA 12875 scenic Hwy, Baton Rouge, LA</p>
                          </div>
                      </div><!-- info -->

                      <div class="button-list-bot">
                          <ul class="clearfix">
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_view.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_view_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_edit.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_edit_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_notification.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_notification_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_trash.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_trash_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </div><!-- button-list-bot -->
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="img">
                          <p><img src="../../../assets/images/img01.jpg" alt=""></p>
                      </div><!-- img -->
                      <div class="info">
                          <p class="ttl-info">
                              <span>Aggolomerated</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>12875 scenic Hwy, Baton Rouge, LA</p>
                          </div>
                      </div><!-- info -->

                      <div class="button-list-bot">
                          <ul class="clearfix">
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_view.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_view_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_edit.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_edit_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_notification.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_notification_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_trash.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_trash_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </div><!-- button-list-bot -->
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="img">
                          <p><img src="../../../assets/images/img02.jpg" alt=""></p>
                      </div><!-- img -->
                      <div class="info">
                          <p class="ttl-info">
                              <span>Aggolomerated</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>12875 scenic Hwy, Baton Rouge, LA</p>
                          </div>
                      </div><!-- info -->

                      <div class="button-list-bot">
                          <ul class="clearfix">
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_view.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_view_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_edit.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_edit_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_notification.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_notification_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_trash.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_trash_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </div><!-- button-list-bot -->
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="img">
                          <p><img src="../../../assets/images/img01.jpg" alt=""></p>
                      </div><!-- img -->
                      <div class="info">
                          <p class="ttl-info">
                              <span>Aggolomerated</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>12875 scenic Hwy, Baton Rouge, LA</p>
                          </div>
                      </div><!-- info -->

                      <div class="button-list-bot">
                          <ul class="clearfix">
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_view.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_view_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_edit.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_edit_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_notification.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_notification_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_trash.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_trash_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </div><!-- button-list-bot -->
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="img">
                          <p><img src="../../../assets/images/img02.jpg" alt=""></p>
                      </div><!-- img -->
                      <div class="info">
                          <p class="ttl-info">
                              <span>Aggolomerated</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>12875 scenic Hwy, Baton Rouge, LA</p>
                          </div>
                      </div><!-- info -->

                      <div class="button-list-bot">
                          <ul class="clearfix">
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_view.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_view_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_edit.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_edit_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_notification.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_notification_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a >
                                      <span>
                                          <img src="../../../assets/images/icons/ico_trash.svg" alt="">
                                          <img class="img-over" src="../../../assets/images/icons/ico_trash_o.svg" alt="">
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </div><!-- button-list-bot -->
                  </div><!-- col-inner -->
              </div><!-- col-item -->
          </div><!-- col-list -->
      </div><!-- section-inner -->
  </div><!-- section -->

  <div class="section">
      <h4>Favorite Locations <a >View all locations</a></h4>
      <div class="section-inner">
          <div class="row col-list">
              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="info">
                          <p class="ttl-info">
                              <span>Baytown Plastic Plant</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>Chemicals <br>John Smith</p>
                          </div>
                      </div><!-- info -->

                      <p class="button-bot"><a  class="btn btn-primary-light">View Cameras</a></p>
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="info">
                          <p class="ttl-info">
                              <span>Kearl</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>Chemicals <br>John Smith</p>
                          </div>
                      </div><!-- info -->

                      <p class="button-bot"><a  class="btn btn-primary-light">View Cameras</a></p>
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="info">
                          <p class="ttl-info">
                              <span>Baytown Plastic Plant</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>Chemicals <br>John Smith</p>
                          </div>
                      </div><!-- info -->

                      <p class="button-bot"><a  class="btn btn-primary-light">View Cameras</a></p>
                  </div><!-- col-inner -->
              </div><!-- col-item -->

              <div class="col-xs-6 col-sm-4 col-lg-3 col-item">
                  <div class="col-inner">
                      <div class="info">
                          <p class="ttl-info">
                              <span>Baytown Plastic Plant</span>
                              <label class="heart" for=""><input type="checkbox"></label>
                          </p>
                          <div class="description">
                              <p>Chemicals <br>John Smith</p>
                          </div>
                      </div><!-- info -->

                      <p class="button-bot"><a  class="btn btn-primary-light">View Cameras</a></p>
                  </div><!-- col-inner -->
              </div><!-- col-item -->
          </div><!-- col-list -->
      </div><!-- section-inner -->
  </div><!-- section -->
</div><!-- main-content -->